body {
    background: rgb(51,65,140);
    background: radial-gradient(circle, rgba(51,65,140,1) 40%, rgb(80, 87, 122) 100%);    color: rgb(214, 214, 214);
    border-radius: 5px;
    font-family: sans-serif;
    width:90%;
    margin-left: 5%;
}

div {
    border-radius: 5px;
}

.navbar p {
    color:rgb(214, 214, 214);
    font-size: 1.5em;
}

.navbar a {
    background-color: rgb(106, 106, 106);
    width:fit-content;
    padding: 1px 45px;
    border-radius: 40px;
}

a {
    background-color: rgb(106, 106, 106);
    width:fit-content;
    padding: 5px 25px;
    border-radius: 5px;
    text-decoration: none;
}

button {
    background-color: rgb(106, 106, 106);
    width:fit-content;
    padding: 5px 25px;
    border-radius: 5px;
    color:rgb(214, 214, 214);
    font-size: 1.25em;
    border-width: 0px;
    margin: 5px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

span {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

span > p {
    padding-right: 20px;
}

.team-list {
    width: 80%;
    border: 1px solid black;
    justify-content: space-evenly;
    margin: 40px;
    color: black;
}

.team-list table {
    width: 100%;
    margin: 0px;
}

.teams-container, .projects-container {
    overflow-y: scroll;
    height: 80vh;
}
.team-list{
    background-color: whitesmoke;
}

.team-list > * {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.kanban-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    min-height: 600px;
    border: 1px solid red;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

.kanban-board .column-container {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    margin: 10px;
    min-height: 600px;
    width: fit-content;
    height: fit-content;
}

.column > div > div {
    margin: 8px;
    background-color: #8e95c4;
}

.column {
    align-items: center;
    min-height: 500px;
    margin: 10px;
    min-width: 100px;
    height: fit-content;
    border-collapse: collapse;
}

.column div {
    border: 1px solid purple;
    min-height: 30px;
}

.team-list h2 {
    text-transform: capitalize;
}

.projects-container > a {
    background-color: antiquewhite;
}

.react-calendar{
    margin: 0 auto;
    min-width: 75%;
    min-height: 80%;
    line-height: normal;
}

.react-calendar abbr {
    color: black;
}

.react-calendar__tile p {
    font-size: small;
    line-height: 0.5em;
}

.react-calendar .react-calendar__tile--active {
    background: #99b7d5;
    color: black;
}

table {
    background-color: gray;
    color:rgb(214, 214, 214);
    border-collapse: collapse;
    min-width: 70%;
    margin: 10px;
    text-transform: capitalize;
}

thead th {
    font-size: larger;
}

tbody tr {
    background-color: rgb(126, 143, 162);
    color: black;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: rgb(201, 216, 232);
}

td {
    padding: 10px;
    font-size: large;
}

table a {
    background-color: #8e95c4;
    color: black;
    font-weight: 200;
    border: 1px solid black;
}

.team-buttons {
    margin-left: auto;
}

.project-buttons > div {
    margin-bottom: 10px;
    margin-left: 10px;
}

form {
    margin-bottom: 10px;
    display: flex;
    background-color: #8e95c4;
    color: black;
    padding: 10px;
    
}

.project-card h2 {
    text-transform: capitalize;
}

.project-card > a {
    display: block;
}

.react-calendar__navigation__label__labelText {
    color: black;
}

.topbar > h1 {
    font-size: 3em;
}